body {
  box-sizing: border-box;
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  height: 100vh;
}

@media(max-width:480px) {
  body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .background {
    padding: 5%;

  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;


    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;



  }


  

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
    height: 180PX;
    
    align-items: center;
    justify-content: center;



  }

  .image {
    position: absolute;
    width: inherit;
    



  }




}


@media (min-width:481px) {

  body {
    background-color: blue;
  }
}