

body{



  
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
}

@media(max-width:480px)  {
  body{background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column,center;
  }
  .background{
    margin: 3% 2%;
    padding: 3%  2%;
      border-radius: 4%;
  }
.content{
  background-color: hsl(0, 0%, 100%);
  padding: 4% 3%;

}
.image-container{
  height: 5%;
  width: auto;
}
.image{
  
  height: 5%;
  width: auto;
  
}
}

@media (min-width:481px) {
 
 body{ background-color: blue;}
}